{% extends 'layout.html.twig' %}

{% block main %}
    <div class="gridX">
        <h1 class="titrePage">{{ participant.username | capitalize }}</h1>
        <img class="photoProfil" src="{{ asset('uploads/' ~ participant.imageFilename) }}" alt="Eni Sortie" >
        <div class="afficherProfil">
            <div class="ligne">
                <label for="prenom">Prenom : </label>
                <strong>{{ participant.prenom | capitalize }}</strong>

            </div>
            <div class="ligne">
                <label for="nom">Nom : </label>
                <strong>{{ participant.nom | capitalize }}</strong>
            </div>
            <div class="ligne">
                <label for="telephone">Telephone : </label>
                <strong> {{ participant.telephone }}</strong>
            </div>
            <div class="ligne">
                <label for="email">Email : </label>
                <strong> {{ participant.mail }}</strong>
            </div>
            <div class="ligne">
                <label for="campus">Campus : </label>
                <strong> {{ participant.campus.nom | capitalize }}</strong>
            </div>
        </div>
    </div>
{% endblock %}

{% block title %}Modifier profil{% endblock %}