{% extends 'layout.html.twig' %}

{% block title %}Gestion des utilisateurs{% endblock %}

{% block main %}
    <h1 class="filtreSortie">Gestion des utilisateurs</h1>

<div class="tableauAffich">
    <table class="table table-dark table-responsive">
     <thead>
     <tr>
         <th scope="col" align="center">Pseudo</th>
         <th scope="col" align="center">Nom</th>
         <th scope="col" align="center">Prénom</th>
         <th scope="col" align="center">Téléphone</th>
         <th scope="col" align="center">Mail</th>
         <th scope="col" align="center">Administrateur</th>
         <th scope="col" align="center">Actif</th>
         <th scope="col" align="center">Actions</th>
     </tr>
     </thead>
     <tbody>

     {% for participant in participants %}
         <tr>

             <th scope="row"  align="center">{{ participant.username }}</th>
             <td  align="center">{{ participant.nom }}</td>
             <td  align="center">{{ participant.prenom }}</td>
             <td  align="center">{{ participant.telephone }}</td>
             <td  align="center">{{ participant.mail }}</td>

             {% if participant.administrateur %}
                 <td  align="center">X</td>
             {% else %}
                 <td> </td>
             {% endif%}

             {% if participant.actif %}
                 <td align="center">X</td>
                 <td align="center"><a href="{{ path('desactive_participant', {'id': participant.id}) }}">Désactiver</a>
                      <!-- lien trigger modal -->
                     <a href="{{ path('supprime_participant', {'id': participant.id}) }}" data-toggle="modal" data-target="#exampleModal">Supprimer</a>
                 </td>

             {% else %}
                 <td> </td>
                 <td align="center"><a href="{{ path('active_participant', {'id': participant.id}) }}">Activer</a>
                     <a href="{{ path('supprime_participant', {'id': participant.id}) }}" data-toggle="modal" data-target="#exampleModal">Supprimer</a></td>
             {% endif%}
         </tr>
         <!-- Modal -->
         <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
             <div class="modal-dialog">
                 <div class="modal-content">
                     <div class="modal-header">
                         <h5 class="modal-title" id="exampleModalLabel">Confirmation</h5>
                         <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                             <span aria-hidden="true">&times;</span>
                         </button>
                     </div>
                     <div class="modal-body">
                         Etes vous sûr de vouloir supprimer cet utilisateur ?
                     </div>
                     <div class="modal-footer">
                         <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                         <button type="button" class="btn btn-primary"><a href="{{ path('supprime_participant', {'id': participant.id}) }}">Supprimer</a></button>
                     </div>
                 </div>
             </div>
         </div>
    {% endfor %}
    </tbody>
    </table>
</div>

{% endblock %}

{% block script %}

{% endblock %}