{% extends 'layout.html.twig' %}

{% block main %}

    <div class="grid">
        <h1 class="titrePage">Votre profil</h1>
        <img class="photoProfil border border-success " src="{{ asset('uploads/' ~ participant.imageFilename) }}" alt="Eni Sortie" >
        <div class="afficherProfil">
            {{ form_start(registerForm) }}
            {{ form_widget(registerForm) }}
            <div class="button">
                <button class="btn border active" type="submit" style="margin-left:2em;margin-top:1em;width:8em;display:inline-block;">Enregistrer</button>
                <button class="btn border active" type="submit" style="margin-left:8em;margin-top:1em;display:inline-block;"><a href="{{ path('home') }}">Annuler</a></button>
            </div>

            {{ form_end(registerForm) }}

        </div>
    </div>
{% endblock %}

{% block title %}modifier Profil{% endblock %}