{% extends 'layout.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block main %}
    <h1 class="filtreSortie">Filtrer les sorties</h1>

    {{ form_start(researchForm) }}
    <div class="accueil">
        <div class="child1Accueil">
            <div>
                {{ form_label(researchForm.campus) }}
                {{ form_widget(researchForm.campus) }}
            </div>
            <div class="research">
                {{ form_label(researchForm.research) }}
                {{ form_widget(researchForm.research) }}
            </div>
            <div class="dateSortie">
                {{ form_label(researchForm.dateDebut) }}
                {{ form_widget(researchForm.dateDebut) }}
                {{ form_label(researchForm.dateFin) }}
                {{ form_widget(researchForm.dateFin) }}
            </div>
        </div>
        <div class="child2Accueil">
            {{ form_widget(researchForm.organisateur) }}
            {{ form_label(researchForm.organisateur) }}<br>

            {{ form_widget(researchForm.inscrit) }}
            {{ form_label(researchForm.inscrit) }}<br>

            {{ form_widget(researchForm.nonInscrit) }}
            {{ form_label(researchForm.nonInscrit) }}<br>

            {{ form_widget(researchForm.sortiePasse) }}
            {{ form_label(researchForm.sortiePasse) }}<br>

            <div class="search-button">
                <button class="btn btn-secondary active" type="submit" value="rechercher">Rechercher</button>
            </div>
        </div>
        {{ form_end(researchForm) }}
    </div>

<div class="tableauAffich">
    <table class="table table-dark table-responsive">
     <thead>
     <tr>
         <th scope="col" align="center">Nom de la sortie</th>
         <th scope="col" align="center">Date de la sortie</th>
         <th scope="col" align="center">Clôture</th>
         <th scope="col" align="center">Inscrits/Places</th>
         <th scope="col" align="center">Etat</th>
         <th scope="col" align="center">Inscrit</th>
         <th scope="col" align="center">Organisateur</th>
         <th scope="col" align="center">Actions</th>
     </tr>
     </thead>
     <tbody>

     {% for sortie in sorties %}
         <tr>
             <th scope="row"  align="center">{{ sortie.nom }}</th>
             <td  align="center">{{ sortie.dateHeureDebut | date ('d/m/Y H:i')}}</td>
             <td  align="center">{{ sortie.dateLimiteInscription | date('d/m/Y') }}</td>
             <td  align="center">{{ sortie.participants | length }}/{{ sortie.nbInscriptionsMax }}</td>
             <td  align="center">{{ sortie.etat.libelle }}</td>
             {% set particip = false %}
             {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                 {% for participant in sortie.participants %}
                     {% if app.user.username == participant.username %}
                         {% set particip = true %}
                     {% endif %}
                 {% endfor %}
             {% endif %}
             {% if particip %}
                <td  align="center">X</td>
             {% else %}
                 <td> </td>
             {% endif%}
             <td  align="center">
                 {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                 <a href="{{ path('participant_detail',{'id':sortie.organisateur.id}) }}">{{ sortie.organisateur.username }}</a>
                 {% else %}
                     {{ sortie.organisateur.username }}
                 {% endif %}
             </td>

             <td  align="center">
             {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                <a href="{{ path('sortie_detail',{'id':sortie.id}) }}">Afficher</a>
                {% if app.user == sortie.organisateur %}
                    <a href="{{ path('modifier_sortie',{'id':sortie.id}) }}">Modifier</a>
                {% endif %}
             {% endif %}
             </td>
         </tr>
    {% endfor %}
    </tbody>
    </table>
</div>
<div class="add-button">
    <button class="btn btn-secondary active" id="ajouterSortie"><a href="{{ path('add_sortie') }}">Ajouter une sortie</a></button>
</div>
{% endblock %}

{% block script %}

{% endblock %}