{% extends 'layout.html.twig' %}

{% block main %}
    <h2 class="sortieTitle">Créer une sortie!</h2>
    {# afficher le formulaire #}
    <div class="grid2">
        <div class="child1AddSortie">
            {{ form_start(sortieForm) }}

            {{ form_label(sortieForm.nom, 'Nom de la sortie : ') }}
            {{ form_widget(sortieForm.nom) }}
            {{ form_errors(sortieForm.nom) }}

            {{ form_label(sortieForm.dateHeureDebut, 'Date/heure de la sortie : ') }}
            {{ form_widget(sortieForm.dateHeureDebut, { 'attr': { 'class' : 'dateHeureDebut' } }) }}
            {{ form_errors(sortieForm.dateHeureDebut) }}


            {{ form_label(sortieForm.dateLimiteInscription, 'Date limite d\'inscription : ') }}
            {{ form_widget(sortieForm.dateLimiteInscription) }}
            {{ form_errors(sortieForm.dateLimiteInscription) }}

            {{ form_label(sortieForm.nbInscriptionsMax, 'Nombre de places : ') }}
            {{ form_widget(sortieForm.nbInscriptionsMax) }}
            {{ form_errors(sortieForm.nbInscriptionsMax) }}


            {{ form_label(sortieForm.duree, 'Durée : ') }}
            {{ form_widget(sortieForm.duree) }}
            {{ form_errors(sortieForm.duree) }}


            {{ form_label(sortieForm.infosSortie, 'Description et infos : ') }}
            {{ form_widget(sortieForm.infosSortie) }}
            {{ form_errors(sortieForm.infosSortie) }}
        </div>

        <div class="btn-save">
            <button class="btn btn-secondary active" type="submit"><a>Enregistrer</a></button>
        </div>
        <div class="btn-publierSortie">
            <button class="btn btn-secondary active" type="submit" name="publier">Publier la sortie</button>
        </div>


        <div class="child2AddSortie">
            {{ form_row(sortieForm.campus) }}

            <div style="display: flex">
            {{ form_label(sortieForm.lieu, 'Lieu : ') }}
            {{ form_widget(sortieForm.lieu) }}
            {{ form_errors(sortieForm.lieu) }}

            {{ form_end(sortieForm) }}

            {{ form_start(lieuForm) }}
            <input type="image" src="{{ asset('img/plus.png') }}" width="25" height="25" style="margin-left: 10px">
            </div>
            {{ form_row(lieuForm.ville) }}
            {{ form_row(lieuForm.nom) }}
            {{ form_row(lieuForm.latitude) }}
            {{ form_row(lieuForm.longitude) }}
            {{ form_end(lieuForm) }}


        </div>


    <div class="button btn-add">

        <button class="btn btn-secondary active" type="submit"><a href="{{ path('home') }}">Annuler</a></button>
    </div>


    </div>


{% endblock %}

{% block title %}Ajout d'une sortie ! | {{ parent() }}{% endblock %}

{% block script %}

{% endblock %}