{% extends 'layout.html.twig' %}

{% block main %}
    <h2 class="sortieTitle">Créer une sortie!</h2>
    {# afficher le formulaire #}
    <div class="grid2">
        <div class="child1AddSortie">
            {{ form_start(sortieForm) }}

            {{ form_label(sortieForm.nom, 'Nom de la sortie : ') }}
            {{ form_widget(sortieForm.nom) }}
            {{ form_errors(sortieForm.nom) }}

            {{ form_label(sortieForm.dateHeureDebut, 'Date/heure de la sortie : ') }}
            {{ form_widget(sortieForm.dateHeureDebut) }}
            {{ form_errors(sortieForm.dateHeureDebut) }}


            {{ form_label(sortieForm.dateLimiteInscription, 'Date limite d\'inscription : ') }}
            {{ form_widget(sortieForm.dateLimiteInscription) }}
            {{ form_errors(sortieForm.dateLimiteInscription) }}

            {{ form_label(sortieForm.nbInscriptionsMax, 'Nombre de places : ') }}
            {{ form_widget(sortieForm.nbInscriptionsMax) }}
            {{ form_errors(sortieForm.nbInscriptionsMax) }}


            {{ form_label(sortieForm.duree, 'Durée : ') }}
            {{ form_widget(sortieForm.duree) }}
            {{ form_errors(sortieForm.duree) }}


            {{ form_label(sortieForm.infosSortie, 'Description et infos : ') }}
            {{ form_widget(sortieForm.infosSortie) }}
            {{ form_errors(sortieForm.infosSortie) }}

        </div>
        <div class="child2AddSortie">
            {{ form_row(sortieForm.campus) }}

            {{ form_label(sortieForm.lieu, 'Lieu : ') }}
            {{ form_widget(sortieForm.lieu) }}
            {{ form_errors(sortieForm.lieu) }}
        </div>


    <div class="button">
        <button class="btn btn-secondary active" type="submit">Enregistrer</button>
        {% if sortie.etat.libelle == 'Cree' %}
            <button class="btn btn-secondary active" type="submit">Publier la sortie</button>
        {% endif %}
        <button class="btn btn-secondary active" type="submit"><a href="{{ path('home') }}">Annuler</a></button>
    </div>
    {{ form_end(sortieForm) }}
        <div class="child3AddSortie ">
            {{ form_start(lieuForm) }}
            <button type="submit"><img src="{{ asset('images/plus.png') }}" alt="Ajouter un lieu" class="bouton-plus"></button>
            {{ form_widget(lieuForm) }}
            {{ form_end(lieuForm) }}
        </div>
    </div>


{% endblock %}

{% block title %}Ajout d'une sortie ! | {{ parent() }}{% endblock %}
