{% extends 'layout.html.twig' %}

{% block main %}

    <h2 class="sortieTitle">Annuler une Sortie</h2>
    <br>
    <div class="grid">

            <div class="annulerSortie">
                <div>
                    <label for="nomSortie">Nom de la sortie : </label>
                    <input type="text" id="dateDebut" value="{{ sortie.nom }}" readonly>
                </div>

                <div>
                    <label for="dateDebut">Date de la sortie : </label>
                    <input type="text" id="dateDebut" value="{{ sortie.dateHeureDebut | date ('d/m/Y') }}" readonly>
                </div>

                <div>
                    <label for="campus">Campus : </label>
                    <input type="text" id="campus" value="{{ sortie.campus.nom }}" readonly>
                </div>
                <div>
                    <label for="lieu">Lieu : </label>
                    <input type="text" id="lieu" value="{{ sortie.lieu.nom }}" readonly>
                </div>
                {{ form_start(sortieAnulForm) }}
                <div>
                    {{ form_label(sortieAnulForm.motif) }}
                    {{ form_widget(sortieAnulForm.motif) }}
                </div>
                <div class="button">
                    <button class="btn btn-secondary active" type="submit">Enregistrer</button>
                    <button class="btn btn-secondary active" type="submit"><a href="{{ path('home') }}">Annuler</a></button>
                </div>
                {{ form_end(sortieAnulForm) }}
            </div>

    </div>


{% endblock %}

{% block title %}Annuler une sortie ! | {{ parent() }}{% endblock %}