{% extends 'layout.html.twig' %}

{% block main %}

    <h2 class="sortieTitle">Sortie : {{ sortie.nom }}</h2>
    <br>
    <div class="grid">

            <div class="child1AfficherSortie">
                <div>
                    <label>Date et heure de la sortie : </label>
                    <strong>{{ sortie.dateHeureDebut | date ('d/m/Y H:i') }}</strong>
                </div>
                <div>
                    <label>Date limite d'inscription : </label>
                    <strong> {{ sortie.dateLimiteInscription | date('d/m/Y') }}</strong>

                </div>
                <div>
                    <label>Nombre de places : </label>
                    <strong> {{ sortie.nbInscriptionsMax }}</strong>
                </div>
                <div>
                    <label>Durée : </label>
                    <strong> {{ sortie.duree | date('H:i') }}</strong>
                </div>
                <div class="infosSortie">
                    <label>Description et infos : </label>
                    <strong class="description"><img src="{{ asset('img/quote-left.png') }}"> {{ sortie.infosSortie | capitalize }} <img src="{{ asset('img/quote-right.png') }}"></strong>
                </div>
            </div>
            <div class="child2AfficherSortie">
                <div class="hidden-xs">
                    <label>Campus : </label>
                    <strong> {{ sortie.campus.nom  | capitalize}}</strong>
                </div>
                <div>
                    <label>Lieu : </label>
                    <strong> {{ sortie.lieu.nom | capitalize }}</strong>
                </div>
                <div>
                    <label>Rue : </label>
                    <strong>  {{ sortie.lieu.rue | capitalize }}</strong>
                </div>
                <div>
                    <label>Code Postal : </label>
                    <strong> {{ sortie.lieu.ville.codePostal }}</strong>
                </div>
                <div>
                    <label>Latitude : </label>
                    <strong> {{ sortie.lieu.latitude }}</strong>
                </div>
                <div>
                    <label>Longitude : </label>
                    <strong> {{ sortie.lieu.longitude }}</strong>
                </div>
                {% if sortie.etat.id == 5 or sortie.etat.id == 9 %}
                <div>
                    <label>Motif d'annulation : </label>
                    <strong> {{ sortie.motif }}</strong>
                </div>
                {% endif %}
            </div>
    </div>

<div class="hidden-xs">
    <div class="button">
        {% if app.user.id == sortie.organisateur.id %}
            <button class="btn btn-secondary active" ><a href="{{ path('modifier_sortie',{'id':sortie.id}) }}">Modifier</a></button>

        {% else %}
            {% set date = true %}
            {% if sortie.dateLimiteInscription | date('Y-m-d')  <= "now" | date('Y-m-d') %}
                {% set date = false %}
            {% endif%}

            {% set nb = false %}
            {% if sortie.nbInscriptionsMax > sortie.participants |length %}
                {% set nb = true %}
            {% endif%}

            {% set particip = false %}
            {% for participant in sortie.participants %}
                    {% if app.user.username == participant.username %}
                        {% set particip = true %}
                    {% endif %}
            {% endfor %}

            {% if particip %}
                {{ form_start(desinscritForm) }}
                <button class="btn btn-secondary active" type="submit"><a>Se désister</a></button>
                {{ form_end(desinscritForm) }}
            {% elseif nb and date %}
                {{ form_start(inscritForm) }}
                <button class="btn btn-secondary active" type="submit"><a>S'inscrire</a></button>
                {{ form_end(inscritForm) }}
            {% endif %}

            {% if nb ==false and particip == false %}
                <p class="msgFull">Le nombre d'inscrits pour cette sortie a été atteint</p>
            {% endif %}

            {% if date == false%}
                <p class="msgFull">La date limite d'inscription a été atteinte</p>
            {% endif %}

        {% endif %}
        <button class="btn btn-secondary active" type="submit"><a href="{{ path('home') }}">Annuler</a></button>

    </div>
</div>

    <br>
    <h2>Liste des participants inscrits</h2>
    <div class="col-lg-6 col-md-6 col-sm-6">
        <table class="table table-dark ">
            <thead>
            <tr>
                <th scope="col">Pseudo</th>
                <th scope="col">Nom</th>
            </tr>
            </thead>
            <tbody>
            {% for participant in sortie.participants %}
                <tr>
                    <td><a href="{{ path('participant_detail',{'id':participant.id}) }}">{{ participant.username }}</a></td>
                    <td>{{ participant.nom }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

