<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0,">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Sortir.com{% endblock %}</title>
    <link href="https://fonts.googleapis.com/css2?family=DM+Mono&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{{ asset ("Boostrap/bootstrap-4.5.0-dist/css/bootstrap.min.css") }}">

    <link rel="stylesheet" href="{{ asset ("css/app.css") }}">

    <link rel="icon" href="{{ asset('img/logo2.png') }}">
</head>
<body>
<div class="container">
    <header>
        <div class="titreLogo">
        <a href="{{ path('home') }}" title="Eni Sortie | Accueil">
            <img class="imageLogo" src="{{ asset('img/logo2.png') }}" alt="Eni Sortie" >
        </a>
        <p class="titre">Sortir.com</p>
        <p class="by">By Eni école informatique</p>
        </div>
        {% include('inc/nav.html.twig') %}
    </header>
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="flash flash-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
    <main>
        {% block main %}{% endblock %}
    </main>
    <footer>
        &copy; BollobArt -- {{ "now"|date("Y") }}
    </footer>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    {% block script %}{% endblock %}
</div>
</body>
</html>